body{
    background-color: #241c11;
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.658);
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}
div#msg {
    text-align: center;
    padding: 20px;
    font-size: 2em;
}
div#img{
    box-shadow:5px 5px 20px rgba(0, 0, 0, 0.87) ;
}
